GIT_USER_NAME=Jane Student
GIT_USER_EMAIL=jane@example.com
GITHUB_USERNAME=janestudent

SSH_PRIVATE_KEY="-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACAAbcdefghijklmnopqrstuvwxyz1234567890ABCDEFGHIJKLMN
AAAAAKMoreBase64EncodedKeyMaterialGoesHereOnMultipleLines
-----END OPENSSH PRIVATE KEY-----"
